.footer-main {
  position: relative;
  right: 150px;
  top: 1500px;
  align-items: center;
  background-color: #0096ff;
  width: 80vw;
  max-width: 1300px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*.container {
  margin-left: 0.5em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 29px;
  color: #ffffff;
}
.row {
  margin-left: 0.5em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 29px;
  color: #ffffff;
}
.column {
  margin-left: 0.5em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 29px;
  color: #ffffff;
}
.small {
  margin-left: 0.5em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 29px;
  color: #ffffff;
}*/

