.footer-main {
  position:fixed;
  bottom:0;
  background-color: #0096ff;
  width: 100%;
  justify-content: center;
  height: 6rem;
  border-radius: px 5px 5px 5px;
  display: flex;
  flex-wrap: column;
}
.container {
  display: flex;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 6rem;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  flex-wrap: wrap;
}
.row {
  display: flex;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 6rem;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 6rem;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  flex-wrap: wrap;
}

.small {
  display: flex;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 6rem;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  flex-wrap: wrap;
}

