.tittle{
  display: flex;
}
.top {
}
.treePoeple {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.boxDumitru {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.dumitru {
  display: flex;
  width: 300px;
  height: 300px;
  padding-top: 50px;
}
.underDumitru {
  background: #05579e;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  justify-content: center;
}
.logoUnder {
  width: 70px;
  height: 70px;
  justify-content: center;
}
.boxLeopold {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.leopold {
  display: flex;
  width: 300px;
  height: 300px;
  padding-top: 50px;
}
.underLeopold {
  background: #05579e;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  justify-content: center;
}
.boxSam {
  padding: 20px;
  flex-direction: column;
  display: flex;
}
.sam {
  display: flex;
  width: 300px;
  height: 300px;
  padding-top: 50px;
}
.underSam {
  background: #05579e;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
